/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 72px !important;
}
/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/*
* Fixes
******************************************************************************/
.badge.rounded-pill.badge-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 800;
}

.popover-trigger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.popover-body {
  font-size: 12px;
  padding: 0.5rem !important;
}

.modal-backdrop {
  --bs-backdrop-bg: #000;
  --bs-backdrop-opacity: 0.7;
}

.form-label.required {
  position: relative;
}

.form-label.required::after {
  content: '*';
  position: absolute;
  top: -2px;
  right: -10px;
  font-size: 16px;
  color: var(--bs-danger);
}

#toast-container {
  pointer-events: none !important;
}

.toast {
  pointer-events: all !important;
}

.switch,
.switch * {
  cursor: pointer;
  user-select: none;
}

/*
* GDZ
******************************************************************************/
.gdz-body-loading-content {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#gdzLoadingContent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--bs-body-bg);
  z-index: 2147483647;
  overflow: hidden;
}

#gdzLoadingContent svg {
  animation: gdzLoadingContent 0.8s linear infinite;
}

@keyframes gdzLoadingContent {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.gdz-navbar .dropdown-toggle {
  border: none !important;
}

.gdz-navbar .dropdown-toggle:hover {
  background-color: #ffffff10;
}

.gdz-navbar .dropdown-menu:not(.dropdown-user) {
  --bs-dropdown-spacer: 20px;
  min-width: 24rem !important;
}

.gdz-navbar .dropdown-menu .btn {
  width: 100%;
}

.gdz-navbar .dropdown-wallet .card {
  border-top: none !important;
  overflow: hidden;
  border-radius: var(--bs-card-border-radius);
}

.gdz-navbar .dropdown-wallet .card {
  border: 1px solid rgb(26, 26, 26);
}

.gdz-navbar .dropdown-wallet tr:first-of-type td {
  border-top: none;
}

.gdz-navbar .dropdown-wallet tr:last-of-type td {
  border-bottom: none;
}

.gdz-navbar .dropdown-wallet thead th {
  text-transform: unset;
  letter-spacing: 0;
}

.gdz-navbar .dropdown-wallet th,
.gdz-navbar .dropdown-wallet td {
  color: #cfcde4;
  padding: 0.6rem 0.8rem !important;
}

.gdz-navbar .dropdown-wallet thead tr th:not(:first-of-type),
.gdz-navbar .dropdown-wallet tbody tr td:not(:first-of-type) {
  text-align: right;
}

.gdz-sidebar-layout {
  display: grid;
  grid-template-columns: 250px calc(100% - 250px);
}

.gdz-sidebar-content {
  position: sticky;
  top: 80px;
}

.gdz-sidebar *:not(.gdz-sidebar-bg-logo) {
  z-index: 1;
}

.gdz-sidebar-title {
  margin-bottom: 10px;
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.gdz-main-balance-change {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.gdz-main-balance-change span {
  font-size: 12px;
}

.gdz-main-balance-change-amount {
  display: flex;
  gap: 6px;
}

#gdzMainBalanceChangeChart {
  display: none;
  width: 100%;
  margin-top: 10px;
}

.gdz-loading {
  opacity: 0.5;
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='646' height='646' viewBox='0 0 646 646' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 242.25C64.2487 242.25 125.866 216.727 171.297 171.297C216.727 125.866 242.25 64.2487 242.25 7.0594e-06L403.75 0V242.25H646V403.75C581.751 403.75 520.134 429.273 474.703 474.703C429.273 520.134 403.75 581.751 403.75 646L242.25 646V403.75H7.05939e-06L0 242.25Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: gdzRotate 2s ease-in-out infinite;
}

.tab-pane {
  position: relative;
  height: 100%;
}

.tab-pane .gdz-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes gdzRotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.gdz-refer-friends.animate .card {
  box-shadow: 0 0 0 2px #7e3eff;
}

.gdz-refer-friends .card {
  box-shadow: 0 0 0 0 #7e3eff;
  transition: box-shadow 0.15s ease;
}

.refer-wrapper * {
  border-width: 1px !important;
}

.refer-wrapper input {
  color: #cfcde4 !important;
  background-color: #0e0e0e !important;
}

.refer-wrapper * {
  transition: all 0.1s ease-out;
}

.refer-wrapper .input-group-text * {
  font-size: 11px;
  line-height: 2;
  transition: all 0.1s ease-out;
}

.transaction-items {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.transaction-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 20px;
  background-color: #0e0e0e;
  border-radius: 8px;
  transition: all 0.15s ease-out;
}

.transaction-item:hover {
  background-color: #101010;
}

.page-team .transaction-item {
  background-color: var(--bs-light);
}
.page-team .transaction-item:hover {
  background-color: #141414;
}

.transaction-item .transaction-item-icon {
  margin-right: 10px;
}

.transaction-item .transaction-status {
  position: relative;
  margin-left: 16px;
  font-size: 10px;
  color: var(--bs-gray);
}

.transaction-item .transaction-status::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #2c2d32;
}

.transaction-item .transaction-status-success {
  color: var(--bs-success);
}
.transaction-item .transaction-status-danger {
  color: var(--bs-danger);
}
.transaction-item .transaction-status-pending {
  color: #e77823;
}

.transaction-item .transaction-usd-amount {
  font-size: 16px;
  font-weight: 600;
  transform: translateX(20px);
  transition: all 0.1s ease-out;
}

.transaction-item .transaction-asset-amount {
  font-size: 14px;
  transform: translateX(20px);
  transition: all 0.1s ease-out;
}

.transaction-item .transaction-item-view {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.15s ease-out;
}

.transaction-item:hover .transaction-item-view {
  color: #5c5d6a;
  opacity: 1;
  transform: translateX(0);
}

.transaction-item:hover .transaction-usd-amount,
.transaction-item:hover .transaction-asset-amount {
  transform: translateX(-8px);
}

.pagination .page-link-disabled {
  pointer-events: none !important;
  cursor: default !important;
  opacity: 0.5 !important;
}

.pagination .page-link-more {
  cursor: default;
  pointer-events: none !important;
}

.pagination .page-link-more .waves-ripple,
.pagination .page-link-disabled .waves-ripple {
  display: none !important;
}
